:root {
    --clr-neon: hsl(317, 100%, 54%);
    --clr-bg: hsl(323, 21%, 16%);
}

body {
    background: linear-gradient(to right, #3f5efb, #fc466b);
    color: var(--clr-neon);
    font-family: Arial, sans-serif;
    margin: auto;
    padding: 20px;
}

h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 3rem; /* Fixed font size */
    color: rgb(208, 214, 218);
    text-shadow: 0 0 0.5em var(--clr-neon); /* Added glow effect */
}
.dice-container{
    margin: auto;
}
.dice-area {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.dice-area img {
    margin: auto;
    width: 200px;
    margin: 10px;
    transition: transform 0.3s ease;
    display: inline-block;
}

.dice-area img:hover {
    transform: scale(1.1); /* Added hover effect for dice */
}

p {
    font-size: 2rem; /* Fixed font size */
    color: rgb(208, 214, 218);
    text-align: center;
}

.neon-button {
    font-size: 1.5rem;
    margin-top: auto;
    padding: 0.5em 2em;
    border-radius: 0.25em;
    background: none;
    border: 2px solid var(--clr-neon);
    color: var(--clr-neon);
    text-decoration: none;
    cursor: pointer;
    text-shadow: 0 0 0.125em var(--clr-neon);
    transition: background 0.3s, transform 0.3s ease;
    position: relative; /* Changed from absolute to relative */
    top: auto;
    left: auto;
    transform: none;
}

.neon-button:hover {
    margin: auto;
    background-color: rgba(69, 148, 227, 0.5); /* Slight background color on hover */
    transform: scale(1.1); /* Slight scale effect */
}

.refresh {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4594e3;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.refresh:hover {
    background-color: #357ab7; /* Darker color on hover */
}
